:root {
  --color: #403D39;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

button, input, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #b1a99e;
}

.exchanger {
  width: 400px;
  height: 700px;
  border: 1px solid black;
  background-color: #e5e8e1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}

.interface {

}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  animation: slideIn 1s ease-out;
}

.preloader__text {
  text-align: center;
  height: 72px;
  font-weight: 900;
  font-size: 32px;
  color: var(--color);
}
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOn {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

